/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}
#profile-picture {
    /* Add styles for profile picture here */
}
/* Round profile picture */
#profile-picture.round img {
    border-radius: 50%; /* Applies a circular border-radius */
    width: 200px; /* Adjust the width and height as needed */
    height: 200px;
    object-fit: cover; /* Ensures the image covers the entire circular area */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Section Styles */
section {
    padding: 40px 0;
}

section h2 {
    color: #333;
}

section p {
    line-height: 1.6;
}

/* Skills Section Styles */
section ul {
    padding-left: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffcc00;
}
